<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>mascemailservice</title>
    </head>
    <body>
        <h1> Serviço de emails Masc </h1>
        <h2> Envie emails utilizando esta API</h2>
        <h3> Iniciar:</h3>
        <p>  Para utilizar basta enviar através do metodo POST as seguintes
             informações : Para, Assunto e Mensagem em formato JSON</p>
        <h4> Observações:</h4>
        <p>  Preferencialmente o envio dos dados deve ser feito através
             de um formulário</p>
    </body>
</html>